<li>
  {{name}}
{{!-- Refer to js burger.js to double check id and object class ids --}}
  <button class="change-burger" data-id="{{id}}" data-newburger="{{burger}}">
    {{#if burger}}Grub Time!{{else}}Save for later!{{/if}}
  </button>

  <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>